{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h2 class="text-2xl font-semibold mb-4">Checkout</h2>
<form action="{{ url_for('main.checkout') }}" method="POST">
    <div class="mb-4">
        <label for="payment_method" class="block text-gray-700 text-sm font-bold mb-2">Payment Method:</label>
        <select id="payment_method" name="payment_method" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option value="mpesa">M-PESA</option>
            <option value="cash">Cash</option>
        </select>
    </div>
    <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Complete Purchase</button>
</form>
{% endblock %}